html {
    background-color: #FFF8DC;
    font-family: arial, helvetica, sans-serif;
}
h1 {
    font-size: 40px;
    color: #0B3CA5;
    font-family: serif;
    text-align: center;
}
h2 {
    font-size: 25px;
    color: #0B3CA5;
    font-family: serif;
    text-align: center;
}
h3 {font-size: 16px;
    color: #067900;
    font-family: serif;
}
p {
    color: #000000;
    padding: 5px;
}
p.right{
    float: right; padding-right:20px; text-align:center;
}
div.middle {
    border: 5px solid #940004;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
div#nav{
    border: none;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
}
a:link, a:visited {
    color: #067900;
    text-decoration: none;
}
a:hover {
    color: #14B30C;
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
img#CCL {
    width:auto;
}
div.map{
margin:5px;
text-align:center;
}
div.svg{
  margin:5px;
text-align:center;
}
img.people{width: 250px; 
}
